<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>weather page</h1>
    <form action="/getweather">
        <input type="text" name="city">
        <button type="submit">submit</button>
    </form>
    天气是<p></p>

    
    <script>
        document.querySelector('button').onclick = function(e){
            e.preventDefault()
            var xhr = new XMLHttpRequest()
            var url = "/getweather?city=" + document.querySelector('input').value
            console.log(url)
            xhr.open("GET", url, true)
            xhr.send()
            xhr.onload = function () {
                if (xhr.status === 200) {
                    document.querySelector('p').innerText = xhr.responseText
                }
            }
        }
    </script>
</body>
</html>